body {
    margin: auto;      
    background-color: #B796AC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header, nav, article, footer {
    background-color: #141B41;
    border: 5px solid #BBDB9B;
    margin: 5px;
    padding: 5px;
    text-align: justify;
    color: #20A4F3;
}
#header {
    color: #832161;
}
nav{
    position: sticky;
    top: 0px;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0px;
    padding-left: 0px;
}
nav ul li {
    list-style-type: none;
}
@media only screen and (min-width: 600px){
    body{
        width: 80%;
    }
    #content {
        display: flex;
    }
    nav {
        position:static
    }
    nav ul {
        display: block;
    }
}